@import '../../styles.scss';

:host{
    min-width: 500px;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.board-table {
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-rows: 33.3% 33.3% 33.3%;
    margin-bottom: 1rem;
}

.board-table div {
    border: 8px solid rgb(black, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    text-align: center;
}

.outcome-board {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: $primary;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & img {
        max-width: 200px;
        max-height: 200px;
        margin-bottom: 1rem;
    }

    & h1 {
        font-weight: bold;
        color: rgb(black, 0.4);
    }
}

.cell-sign{
    height: 50px;
    width: 50px;
}